

@media screen and (max-width: 980px) {

.zooms {background-size:240%!important;-o-background-size:240%;-webkit-background-size:240%;-moz-background-size:240%;}
.h240px {height:325px!important; background:#000;}
.imain_content{width:90%!important;}
.iquick {width:100%!important; }
.iquick li { width:20%!important;height:160px!important; padding:0 !important;}
.iquick li a{ height:50px!important;padding-top:110px !important; background-position:center 30px !important;}
.iquick li a h1{ display:none;}
.iquick li a h2{ font-size:16px!important; }

.ilp_style li{ width:100%!important;float: none !important;}
.ilp_style li a{ padding:10px;overflow:hidden; min-height:300px;}
.ilp_style li a img{width:100%!important;}
.ilp_style li a h1{font-size:2.4em !important;}
.ilp_style li a span{font-size:1.8em !important; line-height:1.8em !important;}
.ilp_style li a h3 {font-size:1.4em !important;}

#timeline{ display:none!important;}
#demo02 { display: block !important;}


#four_flash1  {display:none !important;}	
#demo03 {display:block !important;}	


.fdc_style a {width:100%!important;float: none !important;}
.fdc_style a img{width:100%!important;}
.fdc_style a span {width:90% !important;padding:1% 5% !important;text-align:left !important; display:block!important;bottom:0px!important; top:auto!important;height:80px!important;}	
.fdc_style a span h2 { font-size:14px;padding:0px 0 !important; }
.fdc_style a span h3 { display:none !important;}

	
.ical {width:90%!important;float: none !important;height: auto !important; padding:5% !important;}
.opent_img{ height:auto  !important;}
.iculture_art img{width:100%!important;float: none !important;}


.kjicon { background:#666 !important;padding:50px 0;}
.kjicon a { width:23% !important;position:relative;padding:0px !important;}
.kjicon a:hover span  { display:none !important; }


.inews_l {width:100%!important;float: none !important;}
.inews_l a span{ width:84%!important;padding:5%!important;}
.inews_r {width:90%!important;float: none !important; padding:5% !important;}

.icooperative_partner {width:100%!important;}

.yqlink { display:none !important;}

}





/*广告图*/
.zooms { background-position:center top; background-repeat:no-repeat;}
.flexslider {width:100%;position:relative;overflow:hidden;zoom:1;}
.h240px {height:500px;}
.flexslider .slides {zoom:1; text-align:center;background:#fff;}
.flexslider .slides li div.img a{width:100%;height:500px; display:block;}

.flex-control-nav{width:100%;position:absolute;bottom:20px;text-align:center; z-index:90;}
.flex-control-nav li{margin:0 1px;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../images/dot.png) no-repeat -1px -26px;display:block;overflow:hidden;text-indent:-99em;width:20px;height:20px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:-1px 0;}

.flex-direction-nav a{width:60px;height:90px;overflow:hidden;display:block;background:url(../images/ad_ctr.png) no-repeat;position:absolute;top:-10px;z-index:90;cursor:pointer;opacity:1;filter:alpha(opacity=100); line-height:99em;}
.flex-direction-nav .flex-next{background-position:30px -50px;right:5%;}
.flex-direction-nav .flex-prev{background-position:0 45px;left:5%;}





/*首页内容*/
.imain{ background:#fff;overflow:hidden; position:relative;}
.imain_content { width:1000px; margin:auto;overflow:hidden;}
.ititle { text-align:center;}
.ititle h1{font-size:30px; color: #0a003d; padding-bottom:5px;}
.ititle span { text-align: center;}
.ititle span *{display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;vertical-align:middle}
.ititle span i { width:20px; height:20px;background:url(../images/xline1.jpg) center no-repeat; }
.ititle span h2{font-size:16px;color: #666; text-transform:uppercase; padding:0 10px;}



/*快捷通道*/
.iquick {width:1100px; margin:auto;overflow:hidden; text-align:center;}
.iquick *{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;}
.iquick li { width:218px;height:240px;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;background:url(../images/yline2.png) right  center no-repeat;float:left; padding:1px;}
.iquick li a{ display:block;height:100px;padding-top:140px;background-repeat:no-repeat; background-position:center 60px; background-color:#f2f2f2; }
.iquick li a h1{font-size:10px; text-transform:uppercase;}
.iquick li a h2{ font-size:18px; color:#981223;}
.iquick li a:hover { background-color:#b80f05; }
.iquick li a:hover h1,.iquick li a:hover h2{ color:#FFF;}
.iquick li.iqc1 a {background-image:url(../images/kj01.png);}
.iquick li.iqc2 a {background-image:url(../images/kj02.png);}
.iquick li.iqc3 a {background-image:url(../images/kj03.png);}
.iquick li.iqc4 a {background-image:url(../images/kj04.png);}
.iquick li.iqc5 a {background-image:url(../images/kj05.png);}
.iquick li.iqc5 {background: none;}
.iquick li.iqc1 a:hover {background-image:url(../images/kj011.png);}
.iquick li.iqc2 a:hover {background-image:url(../images/kj022.png);}
.iquick li.iqc3 a:hover {background-image:url(../images/kj033.png);}
.iquick li.iqc4 a:hover {background-image:url(../images/kj044.png);}
.iquick li.iqc5 a:hover {background-image:url(../images/kj055.png);}





/*快捷通道*/
.tab_main {  position:relative; overflow:hidden; background:none; margin:30px auto auto auto;}
.tab{overflow: hidden; text-align: center;margin:auto;}
.tab li{min-height:20px;text-align:center; color:#999; font-size:16px; padding:10px 20px;font-weight:normal;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;position:relative; margin:5px;cursor:pointer; background:#CCC; text-transform:uppercase; max-width:120px;}
.tab li.on{color:#fff; background:#b80f05}
.con{width:100%;position:relative;overflow:hidden; margin:auto auto 50px auto;}
.con_main {width:100%;position:relative; overflow: hidden; margin:auto;}
.imore { border:#999 1px solid; padding:0 3%; margin:auto;width:50px; line-height:35px;color:#bb0000; display:block; text-transform:uppercase; text-align:center; font-size:32px; clear:both; font-family:"宋体";}
.imore:hover { background:#bb0000;color:#FFF;}



/*礼品中心*/
.ilp_style {overflow:hidden;}
.ilp_style * { display:block;}
.ilp_style li{ width:330px;float:left; background:#f2f2f2; position:relative;overflow:hidden; margin:1px;}
.ilp_style li a{ padding:10px;overflow:hidden; min-height:300px;}
.ilp_style li a img{ width:310px;}
.ilp_style li a h1{font-size:16px;padding:10px 0; color:#000;}
.ilp_style li a span{ font-size:12px; line-height:22px;color:#666; padding-bottom:10px;}
.ilp_style li a h3 { border:#CCC 1px solid; padding:5px 10px; float:left; font-size:12px; color:#666;}
.ilp_style li a:hover { background:#333333;}
.ilp_style li a:hover h1,.ilp_style li a:hover span,.ilp_style li a:hover h3{ color:#FFF;}

#demo02 { height:auto !important; overflow:hidden; background: none !important; display:none; }
.ls {overflow:hidden;margin-top:10px !important ;}
.ls * {overflow:hidden;display:block;}
.ls h5{font-size:2.8em; text-align:center;padding:10% 0; color:#FFF;}
.ls a{background:#FFF; position:relative; margin-bottom:30px; height:auto !important; text-align:left;}
.ls a img{width:100%;}
.ls a span{width:90%; padding:5%;}
.ls a span h6{font-size:1.6em; padding:5% 0;line-height:1.6em;}
.ls a span h4{font-size:1.4em; line-height:1.6em;}
.ls a span h3{font-size:1.2em;border:#CCC 1px solid; padding:5px 10px; float:left;  color:#666; margin:10px 0;}





/*一礼通商城*/
.ititle1 { text-align:center;}
.ititle1 h1{font-size:30px; color: #fff; padding-bottom:5px;}
.ititle1 span { text-align: center;}
.ititle1 span *{display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;vertical-align:middle}
.ititle1 span i { width:20px; height:20px;background:url(../images/xline1.jpg) center no-repeat; }
.ititle1 span h2{font-size:16px;color: #fff; text-transform:uppercase; padding:0 10px;}

#timeline{width:1000px;overflow:hidden;margin:0px auto ;position:relative;background:url('../images/licbg.png') left 20px repeat-x; clear:both;}
#dates{width:1000px;overflow:hidden;}
#dates li{float:left;text-align:center;line-height:35px; }
#dates li a{color:#ccc; font-size:16px; display:block;padding:20px 20px 0 20px;margin: 0 10px; background:url(../images/ylt_y.png) center 6px no-repeat;} 
#dates .selected{font-size:16px;color:#d40c00; background:url(../images/ylt_x.png) center 6px no-repeat;}
#issues{width:1000px;overflow:hidden; padding-top:50px;}
#issues * {overflow:hidden;display:block;}
#issues li{width:1000px;float:left;}
#issues li a {width:330px;float:left; background:#f2f2f2; position:relative;overflow:hidden; margin:1px;}
#issues li a img{width:330px;}
#issues li a span {width:60%;padding:15% 20%;text-align:center; display:none; position:absolute; left:0; top:0; height:300px; background:url(../images/bg1.png); text-align:center;}
#issues li a span h1 { font-size:22px;padding:10px 0; color:#fff;}
#issues li a span h2 { font-size:14px;padding:10px 0; width:100%; color:#ccc;}
#issues li a span h3 { border:#CCC 1px solid;padding:5px 20px; font-size:12px; color:#ccc; width:50px; margin:auto;}
#issues li a:hover span  { display:block;}
#next,#prev{position:absolute;font-size:30px;font-family:"宋体";top:10px;width:50px;height:70px;text-align:center;line-height:45px;overflow:hidden;color:#fff;background:#666;}
#next{right:-10px;}
#prev{left:-10px;}
#next.disabled,#prev.disabled{opacity:0.2;}
.goto_store { text-align:center; color:#FFF; text-transform:uppercase; font-size:24px;}
.gobtn { background:url(../images/gobtn.png); width:167px; height:80px; line-height:60px; margin:10px auto; font-size:18px; color:#FFF; display:block;}




/*房地产投资*/
.tab_main1 {  position:relative; overflow:hidden; background:none; margin:30px auto auto auto;}
.tab1{overflow: hidden; text-align: center;margin:auto;}
.tab1 li{min-height:20px;text-align:center; color:#999; font-size:16px; padding:10px 20px;font-weight:normal;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;position:relative; margin:5px;cursor:pointer; background:#CCC; text-transform:uppercase; max-width:120px;}
.tab1 li.on{color:#fff; background:#b80f05}
.con1{width:100%;position:relative;overflow:hidden; margin:auto auto 50px auto;}
.con_main1 {width:100%;position:relative; overflow: hidden; margin:auto;}

.fdc_style  {overflow:hidden;display:block;}
.fdc_style a {width:330px;float:left; background:#f2f2f2; position:relative;overflow:hidden; margin:1px;}
.fdc_style a img{width:330px;}
.fdc_style a span {width:60%;padding:15% 20%;text-align:center; display:none; position:absolute; left:0; top:0; height:300px; background:url(../images/bg1.png); text-align:center;}
.fdc_style a span h1 { font-size:22px;padding:10px 0; color:#fff;}
.fdc_style a span h2 { font-size:14px;padding:10px 0; width:100%; color:#ccc;}
.fdc_style a span h3 { border:#CCC 1px solid;padding:5px 20px; font-size:12px; color:#ccc; width:50px; margin:auto;}
.fdc_style a:hover span  { display:block;}





/*文化与艺术*/
.iculture_art {}
.ical { width:460px; float:left; overflow:hidden; height:285px; background:#f2f2f2; padding:20px;}
.opent_img{ height:325px; overflow:hidden;}
.ical h3{ font-size:18px; padding:10px 0; border-bottom:#CCC 1px solid;}
.ical span{font-size:14px; padding:10px 0; line-height:24px; display:block;}
.ical a{border:#CCC 1px solid;padding:5px 20px; font-size:12px; color:#666; width:50px; float:left; clear:both;}
.iculture_art img{width:50%; float:left;}




/*快捷图标*/
.kjicon { text-align:center; background: url(../images/kjbg.jpg) center repeat-x; overflow:hidden;padding:50px 0;}
.kjicon *{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;}
.kjicon a {display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;color:#FFF;height:150px; width:270px;position:relative;padding:20px 0;}
.kjicon a span{display: none; position:absolute; background:#b80f05; width:200px; padding:20px 50px; height:150px; left:50%; margin-left:-100px; top:0;}
.kjicon a span * {overflow:hidden;display:block;}
.kjicon a span h1{font-size:18px;padding:10px 0;}
.kjicon a span h2{font-size:12px;}
.kjicon a span h3{font-size:12px;border:#CCC 1px solid;padding:5px 20px;color:#fff; width:50px; margin:10px auto;}
.kjicon a img {display:block; margin:auto;}
.kjicon a h4{font-size:18px; padding:1px 0;}
.kjicon a:hover span  { display:block; }





/*新闻中心*/
.inews { overflow:hidden;}
.inews_l {width:495px;height:350px; float:left;}
.inews_r {width:465px;height:320px; float:left; background:#f2f2f2; padding:15px;}
.inews_l a{ position:relative; display:block; width:495px;height:350px;}
.inews_l a span{ position:absolute;background:url(../images/bg1.png); left:0; bottom:0; padding:20px; width:455px; height:70px;color:#ccc;}
.inews_l a span h1{ font-size:16px; padding-bottom:10px;color:#FFF;}
.inews_l a img{}
.inews_r a{font-size:14px;padding:10px 0;display:block; border-bottom:#ccc 1px solid; color:#666;}
.inews_r a h1{ font-size:18px;padding:10px 0; color:#000;}
.inews_r a:hover h1  { display:block; color:#b80f05;}




/*合作伙伴*/
.icooperative_partner {position:relative; width:1100px;margin:auto; overflow:hidden;}
#four_flash1 { width:1000px;height:100px;margin:auto;clear:both;overflow:hidden; padding-top:30px;}
#four_flash1 * { display:block;}
#four_flash1 .flashBg1{width:1000px;height:100px; margin:0 auto;position:relative;overflow:hidden;}
#four_flash1 .flashBg1 ul.mobile1{width:2000%; position:absolute;top:15; left:0; }
#four_flash1 .flashBg1 ul.mobile1 li{float:left;width:205px;margin:0px;padding:0px;color:#dfdfdf;text-align:center;}
#four_flash1 .flashBg1 ul.mobile1 li:hover{ color:#fff;}
#four_flash1 .but_left1{width:50px;height:100px;position:absolute; top:85px; left:0px; cursor:pointer;filter:alpha(opacity=20);-moz-opacity:0.2; opacity:0.2;}
#four_flash1 .but_right1{width:50px;height:100px; position:absolute; top:85px; right:0px;cursor:pointer;filter:alpha(opacity=20);-moz-opacity:0.2; opacity:0.2;}
#four_flash1 .but_left1:hover{filter:alpha(opacity=100);-moz-opacity:1; opacity:1;}
#four_flash1 .but_right1:hover{filter:alpha(opacity=100);-moz-opacity:1; opacity:1;}

#demo03 {display:none; height:100px !important; overflow:hidden !important; margin-top:50px !important;}	
#demo03 .slides li div.img{display:inline-block !important;}



/*友情链接*/
.yqlink {padding:15px 0px 0px 0px; border-top:#CCC 1px solid; width:1000px; margin:auto; padding:20px 0; overflow:hidden;}
.yqlink li {color:#999;}
.yqlink li a{color:#999; margin:0 10px 0 0px;}
.yqlink li a:hover{color: #b80f05;}















