



@media screen and (max-width: 980px) {
	
.page .pmain { width:90%!important; }
.page .pmain img {max-width:100%!important; }
.page_banner ul {width:90% !important;}
.page_nav a {padding:2%!important; font-size:1.6em !important; margin:1% !important;}

#timeline {display:none !important;}
#demo04 { display:block !important;}
.fzlc {width:80%!important;padding:10% !important;line-height:1.8em !important;}
.liebiao li {  background: url() no-repeat right 0px #e0e0e0 !important; }
.liebiao li .link h1 { display:block !important; text-align:left !important; padding:10px!important; border:#FFF 1px solid;}
.liebiao li.xz {background: url() no-repeat right -53px #b80f05!important; }

.ilp_style li,.case_style a { width:100%!important; float: none !important;  margin:10px 0!important; clear:both !important;}
.ilp_style li a img,.case_style a img{ width:100%!important;}
.case_style a span { display:block!important; position: relative !important; left: auto !important; top:auto !important; height:auto !important; }
.ilp_style li a h1{font-size:1.8em !important;}
.ilp_style li a span{font-size:1.4em !important; line-height:1.4em !important;}
.ilp_style li a h3 {font-size:1.2em !important;}
.case_style a span h1 {font-size:1.8em !important;}
.case_style a span h2 {font-size:1.2em !important; line-height:1.4em !important;}
.case_style a span h3 {font-size:1.0em !important; width:100px !important;}


.wh {width:100%!important; }
.wh a {width:100%!important; height:600px!important}
.wh span{float: none !important; width:90%!important;height:auto !important;padding:5% !important;}
.wh img{float: none !important; width:100%!important;}

.news_list {width:100%!important; }
.news_list *{float: none!important;}
.news_list a img{width:100%!important; }
.news_list a span {width:80%!important; padding:5% 10% !important}

.plogin { float: none!important;width:80%!important; position: relative!important; right: auto !important; top:15%; margin:auto !important;}

.gd_detail {font-size:1.2em !important; line-height:1.4em!important; height:auto !important;}


.designer {width:100%!important; }
.designer *{float: none!important;}
.designer li img{width:100%!important; }
.designer li span {width:80%!important; padding:5% 10% !important}

.contact li {margin:1px 0 !important; float: none !important;width:90%!important; padding:5% 5% !important;}
.contact li h1{font-size:1.4em !important; }
.contact li span{font-size:0.85em !important;}

.message {width:90%!important; padding:5%!important}
.message .input1 { padding:2% 5% !important}
.message td { padding:10px 0;}
.message .mw300 { width:78% !important;}

.message .mw600 { width:78% !important;}
.ftj_btn,.fcz_btn { float:left; margin-right:2%;  padding:10px 20px !important; font-size:1.2em !important;}
.w10b { width:15%!important;}
.w90b { width:80%!important;}


}


/* 内页 */
.page { background:#fff; width:100%; overflow:hidden; min-height:300px;}
.page .pmain { width:1000px; margin:auto;font-size:14px; line-height:24px; color:#666; position:relative; overflow:hidden;}
.page .pmain img { max-width:1000px;}
.page_banner { height:240px;}
.page_banner ul {width:1000px; height:180px;margin:auto; position:relative; text-align:right;}
.page_banner ul h3 { text-transform:capitalize; font-size:36px;filter:alpha(opacity=50);-moz-opacity:0.5; opacity:0.5; color:#FFF; padding-top:80px;}


.page_nav {width:100%; overflow:hidden; text-align:center;}
.page_nav a { height:30px; line-height:30px;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline; background:#f2f2f2; padding:5px 58px; font-size:16px;}
.page_nav a:hover {color:#b80f05;}
.page_nav a.cur {background:#b80f05; color:#fff;}


.page_turn { margin-top:30px; padding-top:20px; overflow:hidden; width:100%; text-align:center; border-top:#CCC 1px solid; clear:both;}
.page_turn a{display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline; border:#CCC 1px solid; padding:5px 10px; margin:2px; font-size:14px}
.page_turn a:hover,.page_turn a.cur { background:#b80f05; color:#FFF;}
.page_turn a.a1{ display:none}
.page_turn span{display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;background:#b80f05; color:#FFF; border:#b80f05 1px solid; padding:5px 10px; margin:2px; font-size:14px}

/* 集团介绍 */
#timeline{width:1000px;overflow:hidden;margin:0px auto ;position:relative;background:url('../images/licbg.png') left 20px repeat-x; clear:both;}
#dates{width:1000px;overflow:hidden;}
#dates li{float:left;text-align:center;line-height:35px; }
#dates li a{color:#ccc; font-size:16px; display:block;padding:20px 20px 0 20px;margin: 0 50px; background:url(../images/ylt_y1.png) center 6px no-repeat;} 
#dates .selected{font-size:16px;color:#d40c00; background:url(../images/ylt_x1.png) center 6px no-repeat;}
#issues{width:1000px;overflow:hidden; padding-top:50px;}
#issues * {overflow:hidden;display:block;}
#issues li{width:1000px;float:left;}
.fzlc {width:900px;padding:30px 50px; background:#f2f2f2;}
.fzlc img{width:100%;}
.fzlc span {width:100%;padding:5px 0;text-align:left; display: block; }
.fzlc span:hover {color:#b80f05;}
#next,#prev{position:absolute;font-size:30px;font-family:"宋体";top:10px;width:50px;height:70px;text-align:center;line-height:45px;overflow:hidden;color:#000;background:#fff;}
#next{right:-10px;}
#prev{left:-10px;}
#next.disabled,#prev.disabled{opacity:0.2;}
.ls h5{ font-size:1.8em; background:#b80f05; text-align:center; width:100%; height:50px; line-height:50px; margin:auto; border-bottom:#CCC 1px solid; color:#FFF;}
#demo04 { display:none; }


.liebiao { overflow: hidden; margin:0 auto; padding:60px 0px 0px 0px !important;}
.liebiao li {  background: url(../images/right_bg.png) no-repeat right 0px #e0e0e0; font-size:14px; margin-bottom:20px; overflow:hidden}
.liebiao li a {padding:0.9em 30px; display:block; overflow:hidden}
.liebiao li .num { width:50px;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline; text-align:center; margin-right:10px;}
.liebiao li .link { display:block; color:#555; font-size:16px; text-decoration:none;}
.liebiao li .link h1 {background:#b80f05; color:#FFF;font-size:14px;text-align:center; float:left; padding:0 10px; margin-right:20px; vertical-align:middle; display:inline-block;}
.liebiao li.xz {background: url(../images/right_bg.png) no-repeat right -53px #b80f05; }
.liebiao li.xz .link {color:#eee!important;}
.liebiao li.xz .faq_Atext {color:#eb6100!important;}
.liebiao li.zk {background:none; height:auto; margin-top:-20px;}
.zk_con { width:100%; clear:both;}
.zk_con .pc_1 { overflow:hidden;}
.zk_con .pc_2 {  background-color:#f2f2f2; color:#666;  font-size:14px; padding:40px 30px;}
.zk_con .pc_2 i { font-style:normal;}




/* 礼至礼品 */
.ilp_style {overflow:hidden;}
.ilp_style * { display:block;}
.ilp_style li{ width:330px;float:left; background:#f2f2f2; position:relative;overflow:hidden; margin:1px;}
.ilp_style li a{ padding:10px;overflow:hidden; min-height:300px;}
.ilp_style li a img{ width:310px;}
.ilp_style li a h1{font-size:16px;padding:10px 0; color:#000;}
.ilp_style li a span{ font-size:12px; line-height:22px;color:#666; padding-bottom:10px;}
.ilp_style li a h3 { border:#CCC 1px solid; padding:5px 10px; float:left; font-size:12px; color:#666;}
.ilp_style li a:hover { background:#333333;}
.ilp_style li a:hover h1,.ilp_style li a:hover span,.ilp_style li a:hover h3{ color:#FFF;}

.ptitle2 { text-align:center; background:url(../images/xline2.png) center repeat-x ;}
.ptitle2 h1{ padding:0 20px; font-size:16px; background:#FFF; display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline; }


.case_style  {overflow:hidden;display:block;}
.case_style a {width:330px;float:left; background:#f2f2f2; position:relative;overflow:hidden; margin:1px;}
.case_style a img{width:330px; display:block;}
.case_style a span {width:70%;padding:15% 15%;text-align:center; display:none; position:absolute; left:0; top:0; height:300px; background:url(../images/bg1.png); text-align:center;}
.case_style a span h1 { font-size:22px;padding:10px 0; color:#fff;}
.case_style a span h2 { font-size:14px;padding:10px 0; width:100%; color:#ccc;}
.case_style a span h3 { border:#CCC 1px solid;padding:5px 20px; font-size:12px; color:#ccc; width:50px; margin:auto;}
.case_style a:hover span  { display:block;}

.case_download {}
.case_download a{ display:block; padding:5px 10px; border-bottom:#CCC 1px solid; overflow:hidden; line-height:35px;}
.case_download a h1{font-size:16px;float:left;}
.case_download a h2{font-size:16px;float:left;}
.case_download a h3{font-size:12px;float:right; background:#FFF; color:#333; padding:1px 10px; border:#CCC 1px solid;}
.case_download a:hover   {background:#b80f05; }
.case_download a:hover h1,.case_download a:hover h2 { color:#FFF;}



.gift_detail {overflow:hidden;}
.flexslider {position:relative;overflow:hidden;zoom:1; float:left;}
.h240px {height:500px;}
.flexslider .slides {zoom:1; text-align:center;background:#fff;}
.flexslider .slides img { }
.flexslider .slides li div.img a{width:100%;display:block;}
.flex-control-nav{width:100%;position:absolute;bottom:20px;text-align:center; z-index:90;}
.flex-control-nav li{margin:0 1px;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../images/dot.png) no-repeat -1px -26px;display:block;overflow:hidden;text-indent:-99em;width:20px;height:20px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:-1px 0;}
.flex-direction-nav a{width:60px;height:90px;overflow:hidden;display:block;background:url(../images/ad_ctr.png) no-repeat;position:absolute;top:35%;z-index:90;cursor:pointer;opacity:1;filter:alpha(opacity=100); line-height:99em;}
.flex-direction-nav .flex-next{background-position:30px -50px;right:1%;}
.flex-direction-nav .flex-prev{background-position:0 45px;left:1%;}

.gd_detail {width:440px; height:303px;position:relative;overflow:hidden; float:left; background:#f2f2f2; font-size:12px; line-height:24px; padding:30px;}
.gd_title { overflow:hidden;}
.gd_title h1{font-size:24px; color:#000;}
.gd_title h3{font-size:18px;padding:10px 0 20px 0;}
.gd_detail a {float:left; padding:5px 20px; display:block; border:#CCC 1px solid;}
.gd_detail a.buy_btn {background:#b80f05;color:#fff; margin-right:10px; }
.gd_detail a.rt_btn {background:#f2f2f2;color:#666;}
.gd_detail a.buy_btn:hover { background:#f70e00;color:#fff;}
.gd_detail a.rt_btn:hover { background:#fff;color:#000;}

.other_recommend {overflow:hidden;}



/* 一礼通 */
.goto_store { text-align:center; color:#000; text-transform:uppercase; font-size:24px;}
.gobtn { background:url(../images/gobtn.png); width:167px; height:80px; line-height:60px; margin:10px auto; font-size:18px; color:#fff; display:block;}
.join_investment {overflow:hidden;}
.join_investment ul{ background:#f2f2f2; overflow:hidden; display:block; padding:30px;}
.join_Advantage { font-size:12px; overflow:hidden;}
.join_Advantage li{ float:left; margin-right:60px;}
.join_steps  { overflow:hidden; background:url(../images/xline2.png) center 50px  repeat-x;}
.join_steps a {display:block; float:left; width:15%; text-align:center; padding:0 5%;}
.join_steps a h1 { font-size:18px;padding-top:20px;}
.join_steps a h2 { font-size:12px;padding-top:20px; background:url(../images/ylt_y1.png) center top no-repeat;}
.join_steps a:hover h2{background:url(../images/ylt_x1.png) center top no-repeat; color:#b80f05;}
.join_steps a:hover h1 {color:#b80f05;}




/* 新闻资讯 */
.news_list {width:1000px; overflow:hidden;}
.news_list *{display: block; overflow:hidden; float:left;}
.news_list a {background:#f2f2f2; position:relative; margin-bottom:30px; }
.news_list a img{width:280px;}
.news_list a span {width:680px; padding:20px;}
.news_list a span h1 { font-size:18px; padding:10px 0;width:100%;}
.news_list a span h2 { font-size:14px;width:100%;}
.news_list a span h3 { font-size:12px;padding:5px 0; position:absolute; background:#FFF; width:100px; left:0; top:0; text-align:center; border-left:#806b49 4px solid; display:none;}
.news_list a:hover { background:#f2f2f2;}
.news_list a:hover h1,.news_list  a:hover h2{ color:#b80f05;}

.life_study_detail { line-height:22px; font-size:14px;padding-bottom:30px; overflow:hidden;}
.life_study_detail img { max-width:1000px;}
.life_study_detail_title { text-align:center; padding:10px; border-bottom:#CCC 1px solid; margin-bottom:20px;}
.life_study_detail_title h1{ font-size:24px;}
.life_study_detail_title h2{ font-size:12px; line-height:30px;padding:10px 0;}


.page_next { border-bottom:#CCC 1px solid; padding:10px 0;border-top:#CCC 1px solid; position:relative; text-align:left;}
.page_next a{ display:block; color:#6e6459; line-height:26px; font-size:14px;}
.page_next a.rt_btn { padding-right:20px; background:url(../images/rt.png) right center no-repeat; display:block; position:absolute; right:0; top:25px; }
.page_next a:hover {color:#c12d24;}




/* 文化与艺术 */
.wh {width:1000px;overflow:hidden;}
.wh *{display: block; overflow:hidden; }
.wh a {height:325px;}
.wh span{float:left;width:400px; height:245px;padding:40px 40px 40px 60px;overflow:hidden;text-align:left; background:#f0f0f0;}
.wh span h1{ font-size:18px; padding-bottom:20px; background:url(../images/xline2.png) left 35px no-repeat;}
.wh span h3{ font-size:14px;}
.wh span h4{ font-size:12px; padding:0px 20px; margin:10px 0; text-align:center; border:#CCC 1px solid; float:left; line-height:30px;}
.wh img{float:left; width:500px;}
.wh a:hover span  h1{color:#c12d24;}
.wh a:hover span h4{ background:#c12d24; color:#FFF;}




/* 联系我们 */
.designer {width:1000px; overflow:hidden;}
.designer *{display: block; overflow:hidden; float:left;}
.designer li {background:#f2f2f2; position:relative; margin-bottom:30px; padding:10px;}
.designer li img{width:280px;}
.designer li span {width:660px; padding:20px;}
.designer li span h1 { font-size:18px; padding:10px 0;width:100%;}
.designer li span h2 { font-size:14px;width:100%;}
.designer li span h3 { font-size:12px;padding:5px 0; position:absolute; background:#FFF; width:100px; left:0; top:0; text-align:center; border-left:#806b49 4px solid;}
.designer li:hover { background:#b80f05;}
.designer li:hover h1,.designer  li:hover h2{ color:#fff;}

.contact {overflow:hidden;}
.contact li {overflow:hidden; background:#f2f2f2; padding:30px; width:438px; margin:1px; float:left;}
.contact li h1{overflow:hidden; font-size:18px; padding-bottom:10px;}
.contact li span{overflow:hidden; font-size:14px;}
.contact li:hover { background:#b80f05;}
.contact li:hover h1,.contact li:hover span{ color:#fff;}

.message { background:#f2f2f2;padding:30px;overflow:hidden; width:940px;}
.message .input1 { border:#CCC 1px solid; background:#f2f2f2; padding:5px 10px;}
.message td { padding:10px 0;}
.message .mw300 { width:300px;}
.div_float{ float:left;}
@media screen and (max-width: 980px) {
.div_float{ float:none}
}

.message .mw600 { width:600px;}
.ftj_btn,.fcz_btn { float:left; margin-right:2%; width:100px!important; padding:5px 20px;cursor:pointer; background:#fff;color:#000;}
.ftj_btn:hover,.fcz_btn:hover { background:#b80f05;color:#fff;}
.w10b { width:10%;}
.w90b { width:90%;}


.search_input { margin:auto; width:60%;border:#CCC 1px solid; background:#f2f2f2; padding:10px 10px; display:block;}
.tj_btn {width:100px; padding:5px 20px;cursor:pointer; background:#b80f05;color:#fff; margin:10px auto;display:block; }



/* 注册登录 */
.plogin { float:right; width:350px;background:#FFF; position:absolute; right:0; top:15%; z-index:9; border:#c7c3c7 10px  solid;}
.plogin ul{ display:block; position:relative; padding:40px 30px 20px 30px;overflow:hidden;}
.h799 { height:799px;}
.plogin li { text-align: center; padding-top:10px; display:block;overflow:hidden;}
.plogin li img { display:block; margin:auto;}
.plogin li h1 {text-align: left; font-size:16px;}
.plogin li a { display:block;border: 1px solid #CCC; overflow:hidden;}
.plogin a.ilogin input,.plogin a.ipass input { outline:none;height:40px; line-height:40px;float:left; width:81%; padding:0 2%;}
.plogin li a.ilogin i,.plogin li a.ipass i{width:40px;height:40px; line-height:40px;float:left; background-position:left center; background-repeat:no-repeat; background-color:#999;display:block;}
.plogin li a.ilogin i{ background-image:url(../images/ppass.png); }
.plogin li a.ipass i{background-image:url(../images/plogin.png); }
.plogin li .isubmit{height:40px; line-height:40px;width:100%; background:#b80f05; color:#FFF; display:block; cursor:pointer; font-size:16px;}
.plogin li .isubmit:hover { background:#F00;}
.plogin li a:hover {border: 1px solid #b80f05; }
.plogin li a:hover i { background-color:#b80f05;}
.psewm { position:absolute; width:133px; height:45px;top:0; right:0;}
.plogin li span {display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;margin:0 5px;}
.other_link { text-align:center; padding:20px 0; overflow:hidden;}
.other_link a{ margin:0 20px;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;}

.iuser input,.iphone input,.iyzm input,.ipass input{ outline:none;height:40px; line-height:40px;float:left; width:81%; padding:0 2%;}
.iuser i,.iphone i,.iyzm i,.ipass i{width:40px;height:40px; line-height:40px;float:left; background-position:left center; background-repeat:no-repeat; background-color:#999;display:block;}
.iuser i{ background-image:url(../images/reg1.png);}
.iphone i{ background-image:url(../images/reg2.png);}
.iyzm i{ background-image:url(../images/reg3.png);}
.ipass i{ background-image:url(../images/reg4.png);}

/*********member********/
.Validform_checktip { margin-left:0; padding:0px 6px; font-size:12px; color:#ffb101}
.info { border:1px solid #e4c785; padding:2px 20px 2px 5px; border-radius:2px; color:#666; position:absolute; display:none; line-height:20px; background-color:#fff; }
.dec { bottom: -8px; display: block; height: 8px; overflow: hidden; position: absolute; left: 10px; width: 17px; }
.dec s { font-family: simsun; font-size: 16px; height: 19px; left: 0; line-height: 21px; position: absolute; text-decoration: none; top: -9px; width: 17px; }
.dec .dec1 { color: #e4c785; }
.dec .dec2 { color: #fff; top: -10px; }


